.pagination {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 3px 3px #272727;
}
.pagination button {
    background-color: var(--primary-light);
    display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.pagination button:hover {
    background-color: var(--primary);
    cursor: pointer;
}
.pagination button.active {
    background-color: var(--primary);
    font-weight: bold;
}