.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
    background: var(--dark);
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 3px 0px var(--text);
}
.btn {
    background-color: var(--primary-light-hover);
    display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 0 5px 5px 0;
    width: 32px;
    height: 32px;
    border-radius: var(--radius);
    line-height: 32px;
}
.btn:hover {
    background-color: var(--primary);
    cursor: pointer;
}
.active {
    background-color: var(--primary);
    font-weight: bold;
    color: white;
}