.modal {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,40%);
    backdrop-filter: blur(3px);
    color: var(--text);


}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    padding: 2rem   ;
    min-width: 280px;
    box-shadow: 0 0 7px 0 #333;
    background-color: var(--primary-light);
    border-radius: var(--radius);
}