.loadbar {
	width: 400px;
	margin: 50px auto;
	height: 40px;
	box-shadow: 0 0 0 5px var(--primary-dark);
}
.volume {
	height: 40px;
	width: 0;
	background-color: var(--primary);
	animation: width 2s linear forwards;
}
.text {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--primary-light);
	display: flex;
	justify-content: center;
}
.text span:first-child{
	animation: letter 1s ease-in-out infinite;
}
.text span:nth-child(2){
	animation: letter 1s 50ms ease infinite;
}
.text span:nth-child(3){
	animation: letter 1s 100ms ease infinite;
}
.text span:nth-child(4){
	animation: letter 1s 150ms ease infinite;
}
.text span:nth-child(5){
	animation: letter 1s 200ms ease infinite;
}
.text span:nth-child(6){
	animation: letter 1s 250ms ease infinite;
}
.text span:nth-child(7){
	animation: letter 1s 300ms ease infinite;
}
.text span:nth-child(8){
	animation: letter 1s 350ms ease infinite;
}
.text span:nth-child(9){
	animation: letter 1s 400ms ease infinite;
}
.text span:last-child{
	animation: letter 1s 450ms ease infinite;
}
@keyframes letter {
	from {
		opacity: 0.5;
		transform: scale(1);
	}
	10% {
		opacity: 1;
		transform: scale(1.5);
	}
	20% {
		opacity: 0.5;
		transform: scale(1);
	}
	to {
		opacity: 0.5;
		transform: scale(1);
	}

}

@keyframes width {
	from {
		width: 0;
	}
	to {
		width: 400px;
	}
}
