.btn {
	padding: 0.5rem 1rem;
	background-color: var(--primary);
	color: var(--text);
	text-align: center;
	cursor: pointer;
	width: 30%;
	border: 0;
	color: white;
	box-shadow: 0 0 5px 0 var(--primary-dark);
	border-radius: var(--radius);
}
.btn:hover {
	background-color: var(--primary-dark);
}