.postName:first-letter {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary-dark);

}
.comments {
    display: flex;
    list-style: none;
    max-width: 1200px;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment {
    box-shadow: 0 0 3px 0 black;
    border-radius: var(--radius);
    background-color: var(--primary-light);
    padding: 2rem;
    margin-bottom: 1rem;
    flex: 0 0 49%;
}
.header {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.header i {
    font-size: 12px;
}
.body{
    position: relative;
    background: rgba(255,255,255,0.2);
    padding: 2rem 0.5rem;
    border-radius: var(--radius);
}
.body:after,.body:before {
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    color: var(--primary-dark);
}
.body:after {
    content: '»';
    bottom: 5px;
    right: 5px;
}
.body:before {
    content: '«';
    top: -7px;
    left: 5px;
    align-items: flex-start;
}
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .comment {
        flex: 0 0 100%;
    }
    
}