.btns {
	display: flex;
	justify-content: space-between;
}
.filter {
	display: flex;
	flex-wrap: wrap;
}
.filter input {
	margin-bottom: 15px;
	flex: 0 0 100%;
}
.filter select{
	margin-right: 15px;
}
.filter select,.filter button{
	max-width: 150px;
	flex: 0 0 150px;
}
@media (max-width: 520px) {
	.filter button{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.filter select:nth-child(3){
		margin-right: 0;
	}
	.filter select{
		margin-bottom: 15px;
		max-width: calc(50% - 7.5px);
		flex: 0 0 calc(50% - 7.5px);
	}
}