.input {
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border: 0;
	background: var(--secondary);
	box-shadow: 0 0 5px 0 var(--primary-dark);
}
.input:focus {
	outline: 0;
	background-color: var(--primary-light);
	box-shadow: 0 0 3px 2px var(--primary-dark);
}
.input:focus::placeholder {
	opacity: 0;
}
