* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #272727;
	color: #e2e2e2;
	padding-top: 30px;
}
.page-posts {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}
.page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
}
h1 {
	margin: 0 0 1rem 0;
}
h2 {
	margin: 1rem 0;
}
h3 {
	margin: 1rem 0;
	text-align: center;
}

.post-enter {
	opacity: 0;
	transform: translateX(-100%);
}
.post-enter-active {
	opacity: 1;
	transform: translateY(0%);
	transition: all 500ms ease-in;
}
.post-exit {
	opacity: 1;
	transform: translateY(0%);
}
.post-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition: all 500ms ease-in;
}
