* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #333;
	background-color: #909090;
}
h1 {
	margin: 2rem 0 1rem 0;
}
h2 {
	margin: 1rem 0;
}
h3 {
	margin: 1rem 0;
	text-align: center;
}
