* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #272727;
	color: #e2e2e2;
}
.App {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}
h1 {
	margin: 0 0 1rem 0;
}
h2 {
	margin: 1rem 0;
}
h3 {
	margin: 1rem 0;
	text-align: center;
}

.post-enter {
	opacity: 0;
	transform: translateX(-100%);
}
.post-enter-active {
	opacity: 1;
	transform: translateY(0%);
	transition: all 500ms ease-in;
}
.post-exit {
	opacity: 1;
	transform: translateY(0%);
}
.post-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition: all 500ms ease-in;
}
.pagination {
	display: flex;
	justify-content: center;
	margin: 20px 0 50px;
}
.pagination button {
	background-color: var(--primary-light);
	display: flex;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	border: 0;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	line-height: 32px;
}
.pagination button:hover {
	background-color: var(--primary);
	cursor: pointer;
}
.pagination button.active {
	background-color: var(--primary);
	font-weight: bold;
}