:root{
  --primary: rgba(24,141,252,0.8);
  --primary-dark: #1667b7;
  --primary-light: rgba(147,202,255,0.5);
  --primary-light-hover: rgba(147,202,255,0.8);
  --secondary: #def3ff;
  --text:#272727;
  --dark: rgba(52,52,52,0.9);
  --radius:4px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 30px;
  color: var(--text);
  background: url('assets/bg.webp') center/cover no-repeat,var(--secondary);
  overflow-x:hidden ;
}
.login {
  max-width: 400px;
  margin: 0 auto;
}
.page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 10px 0;
  flex: 1 1 auto;
}
h1 {
  margin: 0 0 1rem 0;
  text-align: center;
}
h2 {
  margin: 1rem 0;
}
h3 {
  margin: 1rem 0;
  text-align: center;
}

.post-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.post-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
  transform: translateY(0%);
}
.post-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms ease-in;
}
